<div [hidden]="!isLoading" class="progress-bar-container" [style.backgroundColor]="backgroundColor">
  <div class="progress" [ngStyle]="{
  backgroundColor: progressColor,
  width: progress + '%'
  }"></div>
</div>

<form [formGroup]="villaForm" (ngSubmit)="onSubmit()">
    {{ villaForm.value | json }}
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="id">ID</label>
    <div class="col-sm-3">
      <input type="text" id="id" class="form-control"
             formControlName="id">
    </div>
    <div class="text-small text-danger"
         *ngIf="
      !villaForm.controls.id?.valid
      && (villaForm.controls.id?.dirty ||villaForm.controls.id?.touched)">
      <div [hidden]="!villaForm.controls.id.errors.required">
        ID must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="name">Facility Name</label>
    <div class="col-sm-6">
      <input type="text" id="name" class="form-control"
             formControlName="name">
    </div>
    <div class="text-small text-danger"
         *ngIf="
      !villaForm.controls.name?.valid
      && (villaForm.controls.name?.dirty ||villaForm.controls.name?.touched)">
      <div [hidden]="!villaForm.controls.name.errors.required">
        Facility Name must be required
      </div>
      <div [hidden]="!villaForm.controls.name.errors.pattern">
        Facility Name contains alphabet only
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="area">Area</label>
    <div class="col-sm-3">
      <input formControlName="area" type="number" min="1" id="area" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.area?.valid
                && (villaForm.controls.area?.dirty ||villaForm.controls.area?.touched)">
      <div [hidden]="!villaForm.controls.area.errors.required">
        Area must be required
      </div>
      <div [hidden]="!villaForm.controls.area.errors.positive_number">
        Area must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="cost">Cost</label>
    <div class="col-sm-3">
      <input formControlName="cost" type="number" id="cost" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.cost?.valid
                && (villaForm.controls.cost?.dirty ||villaForm.controls.cost?.touched)">
      <div [hidden]="!villaForm.controls.cost.errors.required">
        Cost must be required
      </div>
      <div [hidden]="!villaForm.controls.cost.errors.positive_number">
        Cost must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="maxPeople">Max People Allow</label>
    <div class="col-sm-3">
      <input formControlName="maxPeople" type="number" id="maxPeople" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.maxPeople?.valid
                && (villaForm.controls.maxPeople?.dirty ||villaForm.controls.maxPeople?.touched)">
      <div [hidden]="!villaForm.controls.maxPeople.errors.required">
        Max People must be required
      </div>
      <div [hidden]="!villaForm.controls.maxPeople.errors.positive_number">
        Max People must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="floor">Floor</label>
    <div class="col-sm-3">
      <input formControlName="floor" type="number" id="floor" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.floor?.valid
                && (villaForm.controls.floor?.dirty ||villaForm.controls.floor?.touched)">
      <div [hidden]="!villaForm.controls.floor.errors.required">
        Floor must be required
      </div>
      <div [hidden]="!villaForm.controls.floor.errors.positive_number">
        Floor must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="otherConvenient">Other Convenient</label>
    <div class="col-sm-6">
      <input formControlName="otherConvenient" type="text" id="otherConvenient" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.otherConvenient?.valid
                && (villaForm.controls.otherConvenient?.dirty ||villaForm.controls.otherConvenient?.touched)">
      <div [hidden]="!villaForm.controls.otherConvenient.errors.required">
        Other Convenient must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="poolArea">Pool Area</label>
    <div class="col-sm-3">
      <input formControlName="poolArea" type="text" id="poolArea" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.poolArea?.valid
                && (villaForm.controls.poolArea?.dirty ||villaForm.controls.poolArea?.touched)">
      <div [hidden]="!villaForm.controls.poolArea.errors.required">
        Pool Area must be required
      </div>
      <div [hidden]="!villaForm.controls.poolArea.errors.positive_number">
        Pool Area must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="standardRoom">Room Standard</label>
    <div class="col-sm-3">
      <input formControlName="standardRoom" type="text" id="standardRoom" class="form-control">
    </div>
    <div class="text-small text-danger"
         *ngIf="
                !villaForm.controls.standardRoom?.valid
                && (villaForm.controls.standardRoom?.dirty ||villaForm.controls.standardRoom?.touched)">
      <div [hidden]="!villaForm.controls.standardRoom.errors.required">
        Room Standard must be required
      </div>
    </div>
  </div>

  <div class="form-group row" >
    <label class="col-sm-3 col-form-label text-right" for="rentType">Rent Type</label>
    <div class="col-sm-3">
      <select formControlName="rentType" class="custom-select" id="rentType">
        <option [ngValue]="null">---Choose Rent Type---</option>
        <option [ngValue]="rt" *ngFor="let rt of rentTypes">
          {{rt.name}}
        </option>
      </select>
    </div>
    <div class="text-small text-danger"
         *ngIf="!villaForm.controls.rentType?.valid
                  && (villaForm.controls.rentType?.dirty ||villaForm.controls.rentType?.touched)">
      <div [hidden]="!villaForm.controls.rentType?.errors.required">
        Rent Type must be required
      </div>
    </div>
  </div>

  <div class="d-none">
    <input type="hidden" formControlName="facilityType">
  </div>
  <input type="hidden" formControlName="img">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right"></label>
    <div class="col-sm-3">
      <button type="submit" class="btn btn-success" [disabled]="!villaForm.valid">Submit</button>
    </div>
  </div>
</form>
