<div class="mb-2">
  <a class="btn btn-success"
     [routerLink]="['/facility/create']"
     role="button">
    +
    <span>Facility</span>
  </a>
</div>

<div class="row">
  <div class="col-4 mb-3" *ngFor="let facility of facilities">
    <div class="card" style="width: 22rem;">
      <img class="card-img-top" [src]="'../../assets/img/' + facility.img" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-uppercase font-weight-bold">{{ facility.name }}</h5>

        <div class="d-flex justify-content-between">
          <p class="card-text">Room site <span>{{ facility.roomSize }} m<sup>2</sup></span></p>
          <div class="dropout active">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="btn btn-outline-warning" [routerLink]="['/facility/update', facility.id]">
                  <i class='bx bx-cog bx-sx'></i>
                </a>

              </li>
              <li class="nav-item">
                <button class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#deleteModal" (click)="showMessage(facility.name)">
                  <i class='bx bx-trash bx-sx'></i>
                </button>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-modal-delete [messageDelete]="nameFacilityToDelete"></app-modal-delete>

