<div class="mb-2">
  <a [routerLink]="['/facility/create']"
     class="btn btn-success"
     role="button">
    +
    <span>Facility</span>
  </a>
</div>

<div class="row">
  <div *ngFor="let facility of facilities" class="col-4 mb-3">
    <div class="card" style="width: 22rem;">
      <div class="badge badge-warning">${{facility.cost}}</div>
      <img [src]="'../../assets/img/' + facility.img" alt="Card image cap" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-uppercase font-weight-bold">{{ facility.name }}</h5>

        <div class="d-flex justify-content-between">
          <div>
            <p class="card-text mb-0">Area <span>{{ facility.area }} m<sup>2</sup></span></p>
            <p class="card-text mb-0">For {{facility.maxPeople}} people</p>

          </div>
          <div class="dropout active">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <button class="btn btn-outline-info" data-target="#detailModal"
                        data-toggle="modal" type="button"
                >
                  <i class='bx bx-search-alt bx-sx'></i>
                </button>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/facility/update',facility.facilityType.id, facility.id]"
                   class="btn btn-outline-warning">
                  <i class='bx bx-cog bx-sx'></i>
                </a>
              </li>
              <li class="nav-item">
                <button (click)="showMessage(facility.name, facility.id)" class="btn btn-outline-danger"
                        data-target="#deleteModal" data-toggle="modal">
                  <i class='bx bx-trash bx-sx'></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-delete (confirmDelete)="deleteFacility($event)" [idDelete]="idCustomerToDelete"
                  [messageDelete]="nameFacilityToDelete"></app-modal-delete>

