<form (ngSubmit)="onSubmit()" [formGroup]="houseForm">
  <!--  {{ houseForm.value | json }}-->
  <input class="form-control" formControlName="id" id="id"
         type="hidden">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="name">Facility Name</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="name" id="name"
             type="text">
    </div>
    <div *ngIf="
      !houseForm.controls.name?.valid
      && (houseForm.controls.name?.dirty ||houseForm.controls.name?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.name.errors.required">
        Facility Name must be required
      </div>
      <div [hidden]="!houseForm.controls.name.errors.pattern">
        Facility Name contains alphabet only
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="area">Area</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="area" id="area" min="1" type="number">
    </div>
    <div *ngIf="
                !houseForm.controls.area?.valid
                && (houseForm.controls.area?.dirty ||houseForm.controls.area?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.area.errors.required">
        Area must be required
      </div>
      <div [hidden]="!houseForm.controls.area.errors.positive_number">
        Area must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="cost">Cost</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="cost" id="cost" type="number">
    </div>
    <div *ngIf="
                !houseForm.controls.cost?.valid
                && (houseForm.controls.cost?.dirty ||houseForm.controls.cost?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.cost.errors.required">
        Cost must be required
      </div>
      <div [hidden]="!houseForm.controls.cost.errors.positive_number">
        Cost must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="maxPeople">Max People Allow</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="maxPeople" id="maxPeople" type="number">
    </div>
    <div *ngIf="
                !houseForm.controls.maxPeople?.valid
                && (houseForm.controls.maxPeople?.dirty ||houseForm.controls.maxPeople?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.maxPeople.errors.required">
        Max People must be required
      </div>
      <div [hidden]="!houseForm.controls.maxPeople.errors.positive_number">
        Max People must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="floor">Floor</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="floor" id="floor" type="number">
    </div>
    <div *ngIf="
                !houseForm.controls.floor?.valid
                && (houseForm.controls.floor?.dirty ||houseForm.controls.floor?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.floor.errors.required">
        Floor must be required
      </div>
      <div [hidden]="!houseForm.controls.floor.errors.positive_number">
        Floor must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="otherConvenient">Other Convenient</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="otherConvenient" id="otherConvenient" type="text">
    </div>
    <div *ngIf="
                !houseForm.controls.otherConvenient?.valid
                && (houseForm.controls.otherConvenient?.dirty ||houseForm.controls.otherConvenient?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.otherConvenient.errors.required">
        Other Convenient must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="standardRoom">Room Standard</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="standardRoom" id="standardRoom" type="text">
    </div>
    <div *ngIf="
                !houseForm.controls.standardRoom?.valid
                && (houseForm.controls.standardRoom?.dirty ||houseForm.controls.standardRoom?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.standardRoom.errors.required">
        Room Standard must be required
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="rentType">Rent Type</label>
    <div class="col-sm-3">
      <select [compareWith]="equals" class="custom-select" formControlName="rentType" id="rentType">
        <option *ngFor="let rt of rentTypes" [ngValue]="rt">
          {{rt.name}}
        </option>
      </select>
    </div>
    <div *ngIf="!houseForm.controls.rentType?.valid
                  && (houseForm.controls.rentType?.dirty ||houseForm.controls.rentType?.touched)"
         class="text-small text-danger">
      <div [hidden]="!houseForm.controls.rentType?.errors.required">
        Rent Type must be required
      </div>
    </div>
  </div>

  <div class="d-none">
    <input formControlName="facilityType" type="hidden">
  </div>
  <input formControlName="img" type="hidden">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right"></label>
    <div class="col-sm-3">
      <button [disabled]="!houseForm.valid" class="btn btn-success" type="submit">Submit</button>
    </div>
  </div>
</form>
