<div class="mb-2">
  <a class="btn btn-secondary"
     [routerLink]="['/facility']"
     role="button">
    <
    <span>Facility List</span>
  </a>
</div>

<div class="text-center mb-3">
  <h2>Create New Facility</h2>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-8">
    <div class="row mb-3">
      <div class="col-7 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Name"
               autocomplete="off"/>
      </div>
      <div class="col-5 form-group">
        <input style="width: 100%" class="form-control" type="text" placeholder="Area"
               autocomplete="off"/>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4 form-group">
        <input style="width: 100%" class="form-control" type="text" placeholder="Cost"
               autocomplete="off"/>
      </div>
      <div class="col-4 form-group">
        <input style="width: 100%" class="form-control" type="text" placeholder="Max People"
               autocomplete="off"/>
      </div>
      <div class="col-4 form-group">
        <select class="form-control">
          <option value="">--Choose Rent Type--</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 form-group">
        <select id="facilityTypeSelect" class="form-control">
          <option value="">--Choose Service--</option>
          <option value="1">Villa</option>
          <option value="2">House</option>
          <option value="3">Room</option>
        </select>
      </div>
    </div>
    <div class="row mb-3" id="villaInputs">
      <div class="col-4 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Standard Room"
               autocomplete="off"/>
      </div>
      <div class="col-4 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Other Convenient"
               autocomplete="off"/>
      </div>
      <div class="col-2 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Pool Area"
               autocomplete="off"/>
      </div>
      <div class="col-2 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Floors"
               autocomplete="off"/>
      </div>
    </div>
    <div class="row mb-3" id="houseInputs">
      <div class="col-4 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Standard Room"
               autocomplete="off"/>
      </div>
      <div class="col-4 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Other Convenient"
               autocomplete="off"/>
      </div>
      <div class="col-2 form-group">
        <input style="width: 100%" class="form-control" type="text" placeholder="Floors"
               autocomplete="off"/>
      </div>
    </div>
    <div class="row mb-3" id="roomInputs">
      <div class="col-12 form-group">
        <input style="width: 100%" type="text" class="form-control" placeholder="Free Service"
               autocomplete="off"/>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button type="submit" class="btn btn-success">Submit</button>
</div>
