<div class="mb-2">
  <a class="btn btn-secondary"
     [routerLink]="['/facility']"
     role="button">
    <
    <span>Facility List</span>
  </a>
</div>

<div class="text-center mb-3">
  <h2>Create New Facility</h2>
</div>
<div class="my-3">
  <a [routerLink]="['/facility/create/villa']" [routerLinkActive]="'btn-info'" class="btn btn-secondary mr-2">Villa</a>
  <a [routerLink]="['/facility/create/house']" [routerLinkActive]="'btn-info'" class="btn btn-secondary mr-2">House</a>
  <a [routerLink]="['/facility/create/room']" [routerLinkActive]="'btn-info'" class="btn btn-secondary">Room</a>
</div>
<router-outlet></router-outlet>

