<div class="mb-2">
  <a [routerLink]="['/facility']"
     class="btn btn-secondary"
     role="button">
    <
    <span>Facility List</span>
  </a>
</div>

<div class="text-center mb-3">
  <h2>Create New Facility</h2>
</div>
<div class="my-3">
  <a [routerLinkActive]="'btn-info'" [routerLink]="['/facility/create/villa']" class="btn btn-secondary mr-2">Villa</a>
  <a [routerLinkActive]="'btn-info'" [routerLink]="['/facility/create/house']" class="btn btn-secondary mr-2">House</a>
  <a [routerLinkActive]="'btn-info'" [routerLink]="['/facility/create/room']" class="btn btn-secondary">Room</a>
</div>
<router-outlet></router-outlet>

