<div class="mb-2">
  <a class="btn btn-success"
     [routerLink]="['/customer/create']"
     role="button">
    +
    <span>Customer</span>
  </a>
</div>

<table class="table table-light table-bordered small">
  <thead class="thead thead-dark text-center">
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Gender</th>
<!--    <th scope="col">National Id</th>-->
<!--    <th scope="col">DOB</th>-->
    <th scope="col">Phone</th>
<!--    <th scope="col">Address</th>-->
    <th scope="col">Email</th>
    <th scope="col">Customer Type</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers, index as idx">
    <td>{{ idx + 1 }}</td>
    <td>{{ customer.id }}</td>
    <td>{{ customer.name }}</td>
    <td *ngIf="customer.gender == 1; else femaleTd">Male</td>
    <ng-template #femaleTd>
      <td>Female</td>
    </ng-template>
<!--    <td>{{ customer.nationalId }}</td>-->
<!--    <td>{{ customer.dayOfBirth | date: 'dd/MM/yyyy'}}</td>-->
    <td>{{ customer.phone }}</td>
<!--    <td>{{ customer.address }}</td>-->
    <td>{{ customer.mail }}</td>
    <td>{{ customer.customerType.name }}</td>
    <td>
      <a class="btn btn-outline-warning mx-1" [routerLink]="['/customer/update',customer.id]">
        <i class='bx bx-cog bx-sx'></i>
      </a>
      <button type="button" class="btn btn-outline-danger"
              data-toggle="modal" data-target="#deleteModal"
              (click)="showMessage(customer.name, customer.id)"
      >
        <i class='bx bx-trash bx-sx'></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-control">
  <div class="row d-flex justify-content-center">
    <nav aria-label="Page navigation example"
         style="width: initial">
      <ul class="pagination">
        <li class="page-item">
          <a class="btn btn-light">
            Previous
          </a>
        </li>
        <li class="page-item btn btn-light disabled">1</li>
        <li class="page-item btn btn-light disabled">/</li>
        <li class="page-item btn btn-light disabled">3</li>
        <span>&nbsp;</span>
        <li class="page-item">
          <a class="btn btn-light">
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<app-modal-delete (confirmDelete)="deleteCustomer($event)" [messageDelete]="nameCustomerToDelete" [idDelete]="idCustomerToDelete"></app-modal-delete>
