<div class="mb-2">
  <a [routerLink]="['/customer/create']"
     class="btn btn-success"
     role="button">
    +
    <span>Customer</span>
  </a>
</div>


<table class="table table-light table-bordered small">
  <thead class="thead thead-dark text-center">
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Gender</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Customer Type</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers ; index as idx">
    <td>{{ idx + 1 }}</td>
    <td>{{ customer.id }}</td>
    <td>{{ customer.name }}</td>
    <td *ngIf="customer.gender == 1; else femaleTd">Male</td>
    <ng-template #femaleTd>
      <td>Female</td>
    </ng-template>
    <td>{{ customer.phone }}</td>
    <td>{{ customer.mail }}</td>
    <td>{{ customer.customerType.customerTypeName }}</td>
    <td>
      <button (click)="passCustomerToModal(customer)" class="btn btn-outline-info"
              data-target="#detailModal" data-toggle="modal"
              type="button"
      >
        <i class='bx bx-search-alt bx-sx'></i>
      </button>
      <a [routerLink]="['/customer/update',customer.id]" class="btn btn-outline-warning mx-1">
        <i class='bx bx-cog bx-sx'></i>
      </a>
      <button (click)="showMessageDelete(customer.name, customer.id)" class="btn btn-outline-danger"
              data-target="#deleteModal" data-toggle="modal"
              type="button"
      >
        <i class='bx bx-trash bx-sx'></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<!--<div style="justify-content: space-around;display: flex;">-->
<!--  <pagination-controls (pageChange)="page = $event" class=" page-item"></pagination-controls>-->
<!--</div>-->

<app-modal-delete (confirmDelete)="deleteCustomer($event)" [idDelete]="idCustomerToDelete"
                  [messageDelete]="nameCustomerToDelete"></app-modal-delete>
<app-modal-customer-detail [customer]="customerPassToModal"></app-modal-customer-detail>
