<div class="mb-2">
  <a [routerLink]="['/customer']"
     class="btn btn-secondary"
     role="button">
    <
    <span>Back to List</span>
  </a>
</div>

<div class="form-group row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <h2>Create New Customer</h2>
  </div>
</div>
<form (ngSubmit)="onSubmit(customerForm)" [formGroup]="customerForm">
  <!--  {{ customerForm.value | json }}-->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="id">ID</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="id" id="id"
             placeholder="KH-1234" type="text">
    </div>
    <div *ngIf="
      !customerForm.controls.id?.valid
      && (customerForm.controls.id?.dirty ||customerForm.controls.id?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.id.errors.required">
        ID must be required
      </div>
      <div [hidden]="!customerForm.controls.id.errors.pattern">
        ID pattern fail (KH-XXXX)
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="name">Customer Name</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="name" id="name"
             placeholder="Ex: Nguyen Van A" type="text">
    </div>
    <div *ngIf="
      !customerForm.controls.name?.valid
      && (customerForm.controls.name?.dirty ||customerForm.controls.name?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.name.errors.required">
        Name must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right">Gender</label>
    <div class="col-sm-1">
      <div class="form-check">
        <input class="form-check-input" formControlName="gender" id="MaleRadio" type="radio" value="1">
        <label class="form-check-label" for="MaleRadio">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" formControlName="gender" id="FemaleRadio" type="radio" value="0">
        <label class="form-check-label" for="FemaleRadio">Female</label>
      </div>
    </div>
    <div *ngIf="
                !customerForm.controls.gender?.valid
                && (customerForm.controls.gender?.dirty ||customerForm.controls.gender?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.gender.errors.required">
        Gender must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="dayOfBirth">Day Of Birth</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="dayOfBirth" id="dayOfBirth" type="date">
    </div>
    <div *ngIf="
                !customerForm.controls.dayOfBirth?.valid
                && (customerForm.controls.dayOfBirth?.dirty ||customerForm.controls.dayOfBirth?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.dayOfBirth.errors.required">
        Day Of Birth must be required
      </div>
      <div [hidden]="!customerForm.controls.dayOfBirth.errors.pattern">
        Day Of Birth must exact pattern dd/MM/yyyy
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="nationalId">National ID</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="nationalId" id="nationalId" placeholder="Ex: 123456789"
             type="text">
    </div>
    <div *ngIf="
                !customerForm.controls.nationalId?.valid
                && (customerForm.controls.nationalId?.dirty ||customerForm.controls.nationalId?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.nationalId.errors.required">
        National ID must be required
      </div>
      <div [hidden]="!customerForm.controls.nationalId.errors.pattern">
        National ID must has 9 numbers
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="address">Address</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="address" id="address" placeholder="Ex: 18 Nguyen Chi Thanh"
             type="text">
    </div>
    <div *ngIf="
                !customerForm.controls.address?.valid
                && (customerForm.controls.address?.dirty ||customerForm.controls.address?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.address.errors.required">
        Address must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="phone">Phone</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="phone" id="phone" placeholder="Ex: 0912345678"
             type="text">
    </div>
    <div *ngIf="
                !customerForm.controls.phone?.valid
                && (customerForm.controls.phone?.dirty ||customerForm.controls.phone?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.phone.errors.required">
        Phone Number must be required
      </div>
      <div [hidden]="!customerForm.controls.phone.errors.pattern">
        Phone Number must be start with 090 | 091 | (+84)90 | (+84)91
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="email">Email</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="mail" id="email" placeholder="Ex: codegym123@gmail.co"
             type="text">
    </div>
    <div *ngIf="
                !customerForm.controls.mail?.valid
                && (customerForm.controls.mail?.dirty ||customerForm.controls.mail?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.mail.errors.required">
        Email must be required
      </div>
      <div [hidden]="!customerForm.controls.mail.errors.email">
        Email must right format
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="customerType">Customer Type</label>
    <div class="col-sm-3">
      <select class="custom-select" formControlName="customerType" id="customerType">
        <option [ngValue]="null">---Choose Customer Type---</option>
        <option *ngFor="let ct of customerTypes" [ngValue]="ct">
          {{ct.customerTypeName}}
        </option>
      </select>
    </div>
    <div *ngIf="!customerForm.controls.customerType?.valid
                && (customerForm.controls.customerType?.dirty ||customerForm.controls.customerType?.touched)"
         class="text-small text-danger">
      <div [hidden]="!customerForm.controls.customerType?.errors.required">
        Customer Type must be required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right"></label>
    <div class="col-sm-3">
      <button [disabled]="!customerForm.valid" class="btn btn-success" type="submit">Submit</button>
    </div>
  </div>
</form>
