<form (ngSubmit)="onSubmit()" [formGroup]="roomForm">
  <!--  {{ roomForm.value | json }}-->
  <input class="form-control" formControlName="id" id="id"
         type="hidden">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="name">Facility Name</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="name" id="name"
             type="text">
    </div>
    <div *ngIf="
      !roomForm.controls.name?.valid
      && (roomForm.controls.name?.dirty ||roomForm.controls.name?.touched)"
         class="text-small text-danger">
      <div [hidden]="!roomForm.controls.name.errors.required">
        Facility Name must be required
      </div>
      <div [hidden]="!roomForm.controls.name.errors.pattern">
        Facility Name contains alphabet only
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="area">Area</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="area" id="area" min="1" type="number">
    </div>
    <div *ngIf="
                !roomForm.controls.area?.valid
                && (roomForm.controls.area?.dirty ||roomForm.controls.area?.touched)"
         class="text-small text-danger">
      <div [hidden]="!roomForm.controls.area.errors.required">
        Area must be required
      </div>
      <div [hidden]="!roomForm.controls.area.errors.positive_number">
        Area must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="cost">Cost</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="cost" id="cost" type="number">
    </div>
    <div *ngIf="
                !roomForm.controls.cost?.valid
                && (roomForm.controls.cost?.dirty ||roomForm.controls.cost?.touched)"
         class="text-small text-danger">
      <div [hidden]="!roomForm.controls.cost.errors.required">
        Cost must be required
      </div>
      <div [hidden]="!roomForm.controls.cost.errors.positive_number">
        Cost must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="maxPeople">Max People Allow</label>
    <div class="col-sm-3">
      <input class="form-control" formControlName="maxPeople" id="maxPeople" type="number">
    </div>
    <div *ngIf="
                !roomForm.controls.maxPeople?.valid
                && (roomForm.controls.maxPeople?.dirty ||roomForm.controls.maxPeople?.touched)"
         class="text-small text-danger">
      <div [hidden]="!roomForm.controls.maxPeople.errors.required">
        Max People must be required
      </div>
      <div [hidden]="!roomForm.controls.maxPeople.errors.positive_number">
        Max People must be positive
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="freeService">Free Service</label>
    <div class="col-sm-6">
      <input class="form-control" formControlName="freeService" id="freeService" type="text">
    </div>
    <div *ngIf="
                !roomForm.controls.freeService?.valid
                && (roomForm.controls.freeService?.dirty ||roomForm.controls.freeService?.touched)"
         class="text-small text-danger">
      <div [hidden]="!roomForm.controls.freeService.errors.required">
        Free Service must be required
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right" for="rentType">Rent Type</label>
    <div class="col-sm-3">
      <select [compareWith]="equals" class="custom-select" formControlName="rentType" id="rentType">
        <option *ngFor="let rt of rentTypes" [ngValue]="rt">
          {{rt.name}}
        </option>
      </select>
    </div>
    <div *ngIf="!roomForm.controls.rentType?.valid
                  && (roomForm.controls.rentType?.dirty ||roomForm.controls.rentType?.touched)"
         class="text-small text-danger">
      <div [hidden]="!roomForm.controls.rentType?.errors.required">
        Rent Type must be required
      </div>
    </div>
  </div>

  <div class="d-none">
    <input formControlName="facilityType" type="hidden">
  </div>
  <input formControlName="img" type="hidden">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label text-right"></label>
    <div class="col-sm-3">
      <button [disabled]="!roomForm.valid" class="btn btn-success" type="submit">Submit</button>
    </div>
  </div>
</form>
